<form action="/auth/login" method="POST">
   <h2 class="text-center">Login</h2>
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}