<h2 class="text-center">Login</h2>
<div class="d-flex justify-content-center">
   <form action="/auth/login" method="POST"  style=" width: 30%;">
      <div class="mb-3">   
         <label class="form-label" for="username">Username</label>
         <input type="text" name="username" class="form-control" id="username">
      </div>
      <div class="mb-3">   
         <label class="form-label" for="password">Password</label>
         <input type="password" name="password" class="form-control" id="password">
      </div>
      
      <div class="d-grid gap-2 col-6 mx-auto">
         <button type="submit" class="btn btn-primary">Login</button>
      </div>
   </form>
</div>


{{#if errorMessage}}
   {{errorMessage}}
{{/if}}