<h1>create comment</h1>

<form action="/post/new" method="post">
    <input type="text" placeholder="Comment" name="comment">
    <input type="text" placeholder="Image" name="image">

    <button type="submit">Send</button>
</form>